amqp==5.2.0
asgiref==3.8.1
billiard==4.2.0
celery==5.4.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.41.0
dj-database-url==2.2.0
Django==3.2.9
django-celery-beat==2.2.1
django-cloudinary-storage==0.3.0
django-cors-headers==3.10.0
django-stubs==5.0.4
django-stubs-ext==5.0.4
django-timezone-field==4.2.3
djangorestframework==3.12.4
gunicorn==20.1.0
idna==3.10
kombu==5.4.1
pillow==10.4.0
prompt_toolkit==3.0.47
psycopg2==2.9.9
psycopg2-binary==2.9.2
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==0.19.2
pytz==2024.2
redis==5.0.8
requests==2.32.3
setuptools==75.1.0
six==1.16.0
sqlparse==0.5.1
types-PyYAML==6.0.12.20240917
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
whitenoise==5.3.0
